* text=auto eol=lf

*.sh text eol=lf
*.py text eol=lf
*.qml text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.service text eol=lf
*.target text eol=lf
*.conf text eol=lf
*.cfg text eol=lf
**/profiledef.sh text eol=lf
**/packages.x86_64 text eol=lf
**/airootfs/usr/local/bin/* text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.kra binary
*.ttf binary
*.otf binary
*.iso binary

