[Desktop Entry]
Type=Application
Name=Welcome to Meo
Comment=Set up your MeoArch experience
TryExec=meo-welcome
Exec=meo-welcome
Icon=meoarch-logo
OnlyShowIn=KDE;
X-KDE-autostart-phase=2
X-systemd-skip=true
NoDisplay=true
